#div1 {
    text-align: left;
    width: 49%;
}

#div2 {
    text-align: right;
    width: 49%;
}

#showpara1 {
    text-align: center;
}

#showpara2 {
    text-align: center;
}

#heading {
    text-align: center;
}